<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container-fluid">
        <h1>Maxime Vernusset</h1>
        <section>
            <h2>Parcours</h2>
            &Eacute;tudiant en 5<sup>&egrave;me</sup> ann&eacute;e d'&eacute;cole d'ing&eacute;nieurs (<abbr title="&Eacute;cole Centrale d'&eacute;l&eacute;ctronique">ECE Paris</abbr>) :
            <ul>
                <li>Majeure : Cybers&eacute;curit&eacute;</li>
                <li><abbr title="Option d'approfondissement">OA</abbr> : Internet Nouvelle G&eacute;n&eacute;ration</li>
            </ul>
        </section>
        <section>
            <h2>Autre</h2>
            Tromboniste
        </section>
    </body>
</html>