<meta charset="UTF-8">
<title>TP2 : Hello with Express</title>

<link rel="stylesheet" href="/css/bootstrap.min.css">

<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/bootstrap.min.js" /></script>