<!DOCTYPE html>
  <html lang="en">

  <head>
    <title>Index</title>
    <% include partials/head %>
    <script src="/d3.min.js"></script>
    <link rel="stylesheet" href="/css/chart.css">

  </head>

  <body class="container">
    <div class="col-md-6.col-md-offset-3">
      <section>
        <h1><%= name %></h1>
        <hr/>
        <div class="form-group">
          <label for="metricsGroupIDs">Metric group ID:</label>
          <select id="metricsGroupIDs" class="form-control" onchange="if(this.value != '') makeChart(this)">
            <option selected disabled></option>
          </select>
      </div>
      </section>
      <section id="metrics"></section>
      <hr/>
      <section>
        <button class="btn btn-default" href="/newMetric" onClick='document.location.href="/newMetric"'>Add a new metric</button>
        <button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>Logout</button>
      </section>
    </div>


    <script>
      $.getJSON('/metrics', function(data) {
        for(let key in data) {
          $('#metricsGroupIDs').append(`<option>${key}</option>`);
        }
      });

      $(window).resize(function() {
        $('#metricsGroupIDs').change();
      })


      function makeChart(comboBox) {
        // load the data
        $.getJSON(`/metrics/${comboBox.value}`, function(data) { 
          const maxMetricValue = d3.max(data, function(d) { return d.value; });
          data.forEach(element => {
            element.timestamp = new Date(parseInt(element.timestamp)).toLocaleString();
          });

          // set the dimensions of the canvas
          const padding = {top: 30, right: 30, bottom: 110, left: 30},
              width = $('#metrics').width() - padding.left - padding.right,
              height = $(document).height()/1.75 - padding.top - padding.bottom;
      
          // set the ranges
          const x = d3.scale.ordinal().rangeRoundBands([0, width], .05);
          const y = d3.scale.linear().range([height, 0]);
      
          // define the axis
          const xAxis = d3.svg.axis()
              .scale(x)
              .orient('bottom')
              const yAxis = d3.svg.axis()
              .scale(y)
              .orient('left')
              .ticks(10*maxMetricValue/maxMetricValue);
      
          $('#metrics').html('');

          // add the SVG element
          const svg = d3.select('#metrics')
            .append('svg')
              .attr('width', width + padding.left + padding.right)
              .attr('height', height + padding.top + padding.bottom)
            .append('g')
              .attr('transform', `translate(${padding.left}, ${padding.top})`);

            // scale the range of the data
            x.domain(data.map(function(d) { return d.timestamp; }));
            y.domain([0, maxMetricValue]);
        
          // add axis
          svg.append('g')
              .attr('class', 'x axis')
              .attr('transform', `translate(0, ${height})`)
              .call(xAxis)
            .selectAll('text')
              .style('text-anchor', 'end')
              .attr('dx', '-.75em')
              .attr('dy', '.5em')
              .attr('transform', 'rotate(-45)');
        
          svg.append('g')
              .attr('class', 'y axis')
              .call(yAxis)
            //.append('text')
              //.attr('transform', 'rotate(-90)')
              //.attr('y', 50)
              //.attr('dy', '.71em')
              //.style('text-anchor', 'end')
              //.text('');
        
          // Add bar chart
          svg.selectAll('bar')
              .data(data)
            .enter().append('rect')
              .attr('class', 'bar')
              .attr('x', function(d) { return x(d.timestamp); })
              .attr('width', x.rangeBand())
              .attr('y', function(d) { return y(d.value); })
              .attr('height', function(d) { return height - y(d.value); });
        });
      }
    </script>

  </body>
</html>