<!DOCTYPE html>
<html>
    <head>
        <% include /partials/head %>
    </head>
    <body class="container-fluid">
        <button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>
            Logout
        </button>
    </body>
</html>