<!DOCTYPE html>
<html>
    <head>
        <title>New metric</title>
        <% include ./partials/head %>
    </head>
    <body class="container">
        <section id="form">
            <h1>Create a new metric</h1>
            <hr/>
            <div>
                <div class="form-group">
                    <input id="form_key" placeholder="Key" type="text" />
                </div>
                <div class="form-group">
                    <input id="form_value" placeholder="value" type="number" min="0"/>
                </div>
                <button id="submit" type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </section>
        <hr/>
        <section id="saved-metric"></section>
        <section>
            <button class="btn btn-default" href="/" onClick='document.location.href="/"'>Retrieve metrics</button>
            <button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>Logout</button>
        </section>
    </body>

    <script>
        var input = document.getElementById("form_value");
        input.addEventListener("keyup", function(e) {
            e.preventDefault();
            if (e.keyCode === 13)
                document.getElementById("submit").click();
        });
    </script>

    <script>
        $("#submit").click((e) => {
            const key = $("#form_key").val();
            const value = $("#form_value").val();
            if(key !== '' && value !== '')  {
                $.ajax(`metrics/${key}`, {
                    'data': JSON.stringify([{ "timestamp": Date.now(), "value": value }]),
                    'type': 'POST',
                    'contentType': 'application/json',
                    'success' : function() {
                        $("#saved-metric").html('<div class="alert alert-success alert-dismissible" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>Metric saved</div>');
                    }
                });
            }
            else {
                $("#saved-metric").html('<div class="alert alert-danger alert-dismissible" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>Please fill all fields</div>');
            }
        });
    </script>

</html>