<!DOCTYPE html>
<html>
    <head>
        <title>New metric</title>
        <% include ./partials/head %>
    </head>
    
    <body class="container">
        <section id="form">
            <h1>Create a new metric</h1>
            <hr/>
            <div>
                <div class="form-group">
                    <input id="form_key" placeholder="Key" type="text" />
                </div>
                <div class="form-group">
                    <input id="form_value" placeholder="value" type="number" min="0"/>
                </div>
                <button id="submit" type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </section>
        <hr/>
        <section id="saved-metric"></section>
        <section id="error-message"></section>
        <section>
            <button class="btn btn-default" href="/" onClick='document.location.href="/"'>Retrieve metrics</button>
            <button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>Logout</button>
        </section>


        <script>
            //Simuler un formulaire abec validation en appuyant sur entrée
            var input = document.getElementById("form_value");
            input.addEventListener("keyup", function(e) {
                e.preventDefault();
                if (e.keyCode === 13) //Enter keycode
                    document.getElementById("submit").click();
            });
        </script>
    
        <script>
            //Valide les entrées et poste les données
            $("#submit").click((e) => {
                const key = $("#form_key").val();
                const value = parseInt($("#form_value").val());
                const timestamp = Date.now();
                if(key !== '' && value !== '' && typeof value == 'number')  {
                    $.ajax(`metrics/${key}`, {
                        'data': JSON.stringify([{ "timestamp": timestamp, "value": value }]),
                        'type': 'POST',
                        'contentType': 'application/json',
                        'success' : function() {
                            $("#error-message").html('');
                            $("#saved-metric").append(`<div class="alert alert-success alert-dismissible" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>Metric <strong>${value}</strong> saved on <strong>${new Date(timestamp).toLocaleString()}</strong> for group <strong>${key}</strong>.</div>`);
                        }
                    });
                }
                else {
                    $("#error-message").html('<div class="alert alert-danger alert-dismissible" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>Please fill all fields</div>');
                }
            });
        </script>

    </body>
</html>